{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-10">
    <div class="card">
      <div class="card-header ">
        <div class="row align-items-center justify-content-between">
          <h2 class="card-title">Data Tabel Surat Keluar</h2>
          <a href="{% url 'surat:tambahsuratkeluar' %}" class="btn btn-info">Tambah Data</a>
        </div>
      </div>
      <div class="card-body">

        <table class="table table-bordered table-hover">
          <thead class="text-center">
            <tr>
              <th width="60">#</th>
              <th>Tanggal</th>
              <th>No. Surat</th>
              <th>Hal</th>
              <th>Dokumen</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr>
              <td class="text-center">{{ forloop.counter }}.</td>
              <td class="text-center">{{ i.tgl }}</td>
              <td>{{ i.noSurat }}</td>
              <td>{{ i.hal }}</td>
              <td><a href="{% url 'masterdata:download' i.doc %}">Download</a>
              </td>
              <td class="text-center">
                <a href="" class="btn btn-warning btn-sm">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>


{% endblock script %}